# OS
.DS_Store
Thumbs.db

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Rider
.idea/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vssscc
*.vspscc

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NuGet
*.nupkg
*.snupkg
# NuGet Packages
**/packages/*
!**/packages/build/
!**/packages/repositories.config
*.nuget.props
*.nuget.targets

# Test results / coverage
TestResults/
*.coverage
*.coveragexml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Cache/Logs
*.log

# Dotnet tooling
.project
.directory
*.crunchproject.local.xml

# Local settings / secrets
local.settings.json
.env

# Others
*.bak
*.tmp
~$*
